{
	"trailingComma": "none",
	"tabWidth": 1,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"jsxSingleQuote": true,
	"quoteProps": "consistent"
}
